<div [className]="errorMessage.type">
  {{errorMessage.msg}}
</div>
<div class="loader" *ngIf="!isLoadedPage"></div>
<div *ngIf="isLoadedPage">
  <section class="application bodyHeight">
    <div class="container show-classes footer_p">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Trieda: {{className}} </h1>
          <h4>Heslo: {{classPasswd}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="all_classes">
            <div class="MainBox" *ngFor="let d of zoznamZiakov">
              <a class="ImageBox" href="showstudent $post->class_id, $post->class_name">
                <div class="c_name">
                  {{d.$value}}
                </div>
              </a>
              <div class="ButtonBox1">
                <a class="pridaj_ulohu pajpa" id="2" name="" data-toggle="modal" data-target="#pridajUlohu">Pridaj ulohu</a>
                <a class="zobraz_ulohy pajpa" id="1" name="" data-toggle="modal" data-target="#zobrazUlohy">Zobraz ulohy</a>
                <a disabled="true">Zobraz statistiky</a>
              </div>
              <div class="ButtonBox2">
                <a class='edit' [routerLink]="['/updateclass', d.$key]" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a class='close' onclick="return PopupAlert('triedu')" href=""><i class='fa fa-window-close-o' aria-hidden=true></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
