<div [className]="errorMessage.type">
  {{errorMessage.msg}}
</div>
<div class="loader" *ngIf="!isLoadedPage"></div>
<div *ngIf="isLoadedPage">
  <section class="application bodyHeight">
    <div class="container show-classes footer_p">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Trieda: {{className}} </h1>
          <h4>Heslo: {{classPasswd}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="all_classes">
            <div class="MainBox OpenClass" *ngFor="let d of zoznamZiakov">
              <a class="ImageBox" [routerLink]="['/actualscreen', d.$key]">
                <div class="c_name">
                  {{d.$value}}
                </div>
              </a>
              <div class="ButtonBox1">
                <a disabled="true" class="zobraz_statistiky pajpa" name="" >Zobraz statistiky</a>
                <a disabled="true" class="pajpa edit" name="" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a disabled="true" class="close" ><i class='fa fa-window-close-o' aria-hidden=true></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
