<div [className]="errorMessage.type">
  {{errorMessage.msg}}
</div>
<div class="loader" *ngIf="!isLoadedPage"></div>
<section class="PridajTriedu bodyHeight" *ngIf="isLoadedPage">
  <div class="container CreateClass">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Vytvoriť triedu</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form>
          <table>
            <tr>
              <td><b>Názov triedy:</b></td>
              <td><input #className id="className" class="longText form-control" type="text" name="className" value="{{menoTriedy}}" placeholder="Názov triedy"></td>
            </tr>
            <tr>
              <td><b>Kód pre vstup do triedy:</b></td>
              <td><input #classPassword (keyup)="onKeyKontrolaExistencieHesla($event,classPassword.value)" id="classPasswd" class="longText form-control {{farbaPolaPreHeslo}}"  type="text" name="classPasswd" value="{{hesloTriedy}}" placeholder="Kód triedy"></td>
            </tr>
            <tr>
              <td></td>
              <td><input class="sendButton btn btn-default" type="submit" (click)="addClass(className.value, classPassword.value)" name="addclass-submit" id="addclass-submit" value="Odoslať"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</section>
