<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hejny,FMFI,Sumrectangle">
    <meta name="author" content="Daniel Linhart">
    <title>SumRectangle</title>
    <link href="{$basePath}/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/media/css/main.screen.css" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/media/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <script src="{$basePath}/media/js/jquery.min.js"></script>
    <script src="{$basePath}/media/js/bootstrap.js"></script>
	{block head}{/block}
	<!--<script> document.body.className+=' js' </script> -->
</head>

<body>

    {ifset #header}{include #header}{else}
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" n:href="Homepage:">SumRectangle</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="dropdown btn header-btn btn-danger">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Create
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a n:href="Application:addclass">Class</a></li>
                                    <li><a n:href="Application:addexam">Exams</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Show
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a n:href="Application:showclass">Show my class</a></li>
                                    <li><a n:href="Application:showexam">Show my exams</a></li>
                                </ul>
                            </li>
                            <li><a n:href="Homepage:#download">Compare</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li><a n:href="Register:register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                            {if $user->loggedIn}
                                <li><a n:href="Application:showclass"><span class="glyphicon glyphicon-user"></span> Logged {$user->roles['first_name']} {$user->roles['last_name']}</a></li>
                                <li><a n:href="Sign:out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            {else}
                                <li><a n:href="Register:register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a n:href="Sign:in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {/if}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {/ifset}

	<div style="position: static;top:50px;background-color: #1A7E1E;color: white;width: 100%;height: auto;text-align: center;font-size: 2em;" n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {include content}

    {ifset #footer}{include #footer}{else}{/ifset}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/media/js/jquery-ui.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
    <script src="{$basePath}/media/js/sumrectangle.js"></script>
    {block scripts}
    {/block}
</body>
</html>
