<div [className]="errorMessage.type">
  {{errorMessage.msg}}
</div>
<div class="loader" *ngIf="!isLoadedPage"></div>
<section class="PridajCvicenie bodyHeight" *ngIf="isLoadedPage">
  <div class="container CreateExam">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Obrazovka žiaka: {{menoZiaka}}</h1>
        <h4>Aktualizované o: {{casAktualizacie}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="SecondParameters" id="2_param" [ngSwitch]="createTaskSablona">
          <div *ngSwitchCase="2" class="CreateTask">
            <div class="board" id="priklad">
              <div class="boxy">
                <div style="display: flex;justify-content: center;" class="boxPanel0" id="panel0">
                  <a class="box" id="Slot_2"></a>
                  <a class="box" id="Slot_1"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel1" id="panel1">
                  <a class="box" id="Slot_0"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel2" id="panel2">
                  <a class="box" id="SlotM_0"></a>
                  <a class="box" id="SlotM_1"></a>
                  <a class="box" id="SlotM_2"></a>
                  <a *ngIf="pocetMoznosti == 7 " class="box" id="SlotM_3"></a>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="3" class="CreateTask">
            <div class="board" id="priklad">
              <div class="boxy">
                <div style="display: flex;justify-content: center;" class="boxPanel0" id="panel0">
                  <a class="box" id="Slot_5"></a>
                  <a class="box" id="Slot_4"></a>
                  <a class="box" id="Slot_3"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel1" id="panel1">
                  <a class="box" id="Slot_2"></a>
                  <a class="box" id="Slot_1"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel2" id="panel2">
                  <a class="box" id="Slot_0"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel3" id="panel3">
                  <a class="box" id="SlotM_0"></a>
                  <a class="box" id="SlotM_1"></a>
                  <a class="box" id="SlotM_2"></a>
                  <a class="box" id="SlotM_3"></a>
                  <a class="box" id="SlotM_4"></a>
                  <a class="box" id="SlotM_5"></a>
                  <a *ngIf="pocetMoznosti == 13 " class="box" id="SlotM_6"></a>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="4" class="CreateTask">
            <div class="board" id="priklad">
              <div class="boxy">
                <div style="display: flex;justify-content: center;" class="boxPanel0" id="panel0">
                  <a class="box" id="Slot_9"></a>
                  <a class="box" id="Slot_8"></a>
                  <a class="box" id="Slot_7"></a>
                  <a class="box" id="Slot_6"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel1" id="panel1">
                  <a class="box" id="Slot_5"></a>
                  <a class="box" id="Slot_4"></a>
                  <a class="box" id="Slot_3"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel2" id="panel2">
                  <a class="box" id="Slot_2"></a>
                  <a class="box" id="Slot_1"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel3" id="panel3">
                  <a class="box" id="Slot_0"></a>
                </div>
                <div style="display: flex;justify-content: center;" class="boxPanel3" id="panel3">
                  <a class="box" id="SlotM_0"></a>
                  <a class="box" id="SlotM_1"></a>
                  <a class="box" id="SlotM_2"></a>
                  <a class="box" id="SlotM_3"></a>
                  <a class="box" id="SlotM_4"></a>
                  <a class="box" id="SlotM_5"></a>
                  <a class="box" id="SlotM_6"></a>
                  <a *ngIf="pocetMoznosti == 20 || pocetMoznosti == 19 " class="box" id="SlotM_7"></a>
                  <a *ngIf="pocetMoznosti == 20 || pocetMoznosti == 19 " class="box" id="SlotM_8"></a>
                  <a *ngIf="pocetMoznosti == 20 || pocetMoznosti == 19 " class="box" id="SlotM_9"></a>
                </div>
                <div *ngIf="pocetMoznosti == 24 || pocetMoznosti == 23" style="display: flex;justify-content: center;" class="boxPanel3" id="panel3">
                  <a class="box" id="SlotM_7"></a>
                  <a class="box" id="SlotM_8"></a>
                  <a class="box" id="SlotM_9"></a>
                  <a class="box" id="SlotM_10"></a>
                  <a class="box" id="SlotM_11"></a>
                  <a class="box" id="SlotM_12"></a>
                  <a class="box" id="SlotM_13"></a>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchDefault></div>
        </div>
      </div>
    </div>
  </div>
</section>
