{block #content}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{$studentFirstName} {$studentLastName}</h1>
            </div>
        </div>
        <div class="row">
            <div class="game">

            </div>
        </div>
    </div>
{/block}
{block scripts}
    <script src="{$basePath}/media/js/openstudent.js"></script>
{/block}