<div id="page">
  <header *ngIf="mainHeader && isLoadedPage">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../">SumRectangle</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown btn header-btn btn-danger">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Create
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/createclass">Class</a></li>
                <li><a routerLink="/createexam">Exams</a></li>
              </ul>
            </li>
            <li><a routerLink="/classes">My class</a></li>
            <li><a routerLink="/exams">My exams</a></li>
            <li><a href="Homepage:#download">Compare</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a n:href="Register:register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->

            <li><a><span class="glyphicon glyphicon-user"></span> Logged {{fName}} {{lName}}</a></li>
            <li><a (click)="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <header *ngIf="!mainHeader">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../">SumRectangle</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a routerLink="/login">Prihlásiť</a></li>
            <li><a routerLink="/registration">Registrovať</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" *ngIf="isLogged">
            <!-- <li><a n:href="Register:register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->

            <li><a><span class="glyphicon glyphicon-user"></span> Logged {{fName}} {{lName}}</a></li>
            <li><a (click)="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Designed by Daniel Linhart</p>
    </div>
  </footer>
</div>
