{var $robots = noindex}

{block #content}
    <section class="login">
        <div id="register">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 n:block=title>Sign in</h1>
                        {control signInForm}
                    </div>
                </div>
            </div>
        </div>
    </section>
{/block}
